.lw { font-size: 40px; text-align: center; border-color: #3364FF;font-family: "Roboto";}
.a {color: white;text-decoration: none;font-family: "Oxygen";}
.tablink {
    background-color: #FFC0CB;
    float: left;
    border: none;
    outline: none;
    cursor: inherit;
    padding: 17px 16px;
    font-size: 18px;
    width: 25%;
}
.tablink:hover {
    background-color: #6495ED;}

h1 {
  border-style: solid;
  font-size: 50px;}

body {
  background-color: #F8F8FF ;
}
.jd {text-align: center; font-family: "Oxygen";}

.jc {text-align: center;font-family: "Oxygen";}

.pq {padding-bottom: 30px;
padding-left: 20px;}

.qp {padding: 30px;}
